*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'time-new-roman', serif;
}
body{
    background-color: #fffd78;
}
.nav{
    background-color: #333;
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0bb2cb;
    padding:50px;
    margin: 0px;
}
.nav-links li{
    margin: 0px;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    /* box-shadow: 0 0 20px 10px yellow; */
    margin: auto;
    border:2px solid black;
    margin-top: 50px;
    box-shadow: 0 0 20px 5px rgb(242, 242, 118);
}
.rectangle{
    height: 50px;
    width: 30px;
    background-color: yellow;
    margin: auto;
    border:2px solid black;
    border-top:none;  

    position: relative;
    top: -5px;
    box-shadow: 0 0 20px 5px rgb(242, 242, 118);
    
}
.lower{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: rgb(30, 28, 28);
    margin: auto;
    position: relative;
    top: -25px;
}
.flat{
    height: 20px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    position: relative;
    top: 40px;
    right: 50px;
}
.switch{
    position: relative;
    left: 380px;
    background-color: #333;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
/* .bulb{
    height: 30px;
    width: 30px;
    justify-content: center;
    display: flex;
    background-color: yellow;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 10px;
} */
switch{
    display: flex;
    justify-content: center;
}

.newClass{
    background-color: green;
}


.mouse{
    position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  pointer-events: none;
  background: rgba(0, 255, 255, 0.6);
  box-shadow: 0 0 15px cyan, 0 0 30px cyan;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1000;
  pointer-events: none; 
}
