*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    background-color: #d7b8b8;
}
body{
    font-family: Arial, sans-serif;
    background-color: #e6cbba;
    font-size: x-large;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

.form-label{
    font-size: 20px;
    margin-bottom: 10px;
    
}
.form-group{
    display: flex;
    justify-content: space-between;

}