*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 50%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 15px grey;
    background-color: #a6b2cf;
}
body{
    font-family: Arial, sans-serif;
    background-color: #e6cbba;
    font-size: x-large;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}

.form-label{
    font-size: 20px;
    margin-bottom: 10px;
    
}
.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    padding: 8px;
    font-size: 18px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-left: 80px ;
}
.marks-table{
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 20px;
}
.marks-table th, .marks-table td{
    border: 3px solid #7b7575;
    padding: 15px;
    text-align: center;
    text-align: center;
}
.marks-table th{
    background-color: #b2a7a7;
}
.marks-table tr{
    background-color: #f9f9f9;
}
.marks-table tr:hover{
    background-color: #ddd;
}
.student-name, .student-rollNo{
    text-align: center;
    margin-top: 10px;
}
.result{
    margin-top: 20px;
    padding-right: 100px;
    font-weight: bold;
    text-align: center;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    border-radius: 5px;
    padding: 10px;
}
.student-details {
    margin-bottom: 20px;
    text-align: center;
    background-color: #a6b2cf;
    padding:18px;
    display: inline-block;
}

.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}
/* .result-box {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.container{
    flex-direction: column;
    display: flex;

}
