*{
    margin: 0;
    padding: 0;
}
section{
    background-color: #e5ec9c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 25px;
    
}
.task-container{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    flex-direction: column;
    background-color: #676262;

}
.task-container h1{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.task-input{
    padding: 10px;
    width: 300px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
}
.addTaskBtn{
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px 0;
    font-size: 18px;
}
#todo-list{
    margin: 20px;

}
#todo-list li{
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #555;
    box-sizing: border-box;
}

.removeTask{
    margin-left: 15px;
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.task-class{
    display: flex;
    flex-direction:row;
    justify-content: space-between ;
}
.removeBtn{
    margin-left: 15px;
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.completeBtn{
    margin-left: 15px;
    padding: 5px 10px;
    border: none;
    background-color: #1cb934;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.editBtn{
    margin-left: 15px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}